.status-main {
  margin-top: 100px;
  .status-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-area {
      h3.title {
        margin: 0;
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 48.41px;
        text-align: left;
      }

      .srt-details {
        display: flex;
        gap: 30px;
        margin-top: 6px;

        p.orderid,
        p.price {
          font-family: Inter;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.36px;
          text-align: left;
          margin: 0;
        }
      }
    }

    .right-area {
      button {
        padding: 16px 54px;
        border-radius: 62px;
        background-color: #000;
        border: none;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
    }
  }

  .steps-main {
    margin-top: 58px;
    display: flex;
    justify-content: center;
  }
}


.ant-steps-item-icon .ant-steps-icon-dot {
	// background: #00C12B !important;
}

@media (max-width: 768px) {
  h3.title {
    font-size: 32px !important;
    line-height: 38.73px !important;
    text-align: center !important;
  }

  .srt-details {
    gap: 15px !important;
  }

  p.orderid,
  p.price {
    font-size: 14px !important;
    line-height: 17px !important;
    text-align: center !important;
  }
}

@media (max-width: 480px) {
  .status-top {
    flex-direction: column;
    align-items: flex-start;
  }

  h3.title {
    font-size: 24px;
    line-height: 29.06px;
  }

  .srt-details {
    flex-direction: column;
    gap: 10px;
  }

  p.orderid,
  p.price {
    font-size: 12px;
    line-height: 14.52px;
  }

  .right-area {
    align-self: center;
    margin-top: 20px;
  }
}